<!DOCTYPE html>
<html>

<head>
    <title>Recommended </title>
</head>

<body>
    <i class="material-icons">star</i>
    <i class="material-icons">circle</i>

    <div class="col-sm-2> 
            <div class=" search-container ">
                    <form action="/action_page.php ">
                      <input type="text " placeholder="Search.. " name="search ">
                      <button type="submit "><i class="fa fa-search "></i></button>
                    </form>
                  </div>
    </div>
        <div class="container " id="recom-container ">
            
        </div>

</body>

</html>